@import 'mixins';

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

h1 { font-size: 25px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 17px; }
h5 { font-size: 15px; }
h6 { font-size: 13px; }

a { font-weight: 500; }

a:hover,
a:focus,
a:active { text-decoration: none; }

a, button, input, select, textarea,
a:focus, button:focus, input:focus,
a:active, button:active, input:active {
  @include box_shadow( none );
  outline: 0;
}

ul, li, ol, label { list-style: none; }

div,
form,
figure,
article, label, ul, li,
ol, p, h1, h2, h3, h4, h5, h6 {
  display: block;
  background: none;
  @include box_sizing( border-box );
}
