.cpb-content div, .cpb-content section,
.cpb-content article, .cpb-content aside, .cpb-content figure,
.cpb-content h1, .cpb-content h2, .cpb-content h3, .cpb-content h4, .cpb-content h5, .cpb-content h6, .cpb-content p {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cpb-row,
.cpb-rows,
.cpb-column,
.cpb-section,
.cpb-element,
.cpb-rowContent,
.cpb-columnContent {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 1;
}

.cpb-section,
.cpb-rowContent,
.cpb-columnContent,
.cpb-rows.cpb-sectionContent { width: auto; }

.cpb-row { margin: 0 auto; }

.cpb-column,
.cpb-rowContent {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.cpb-columnContent {
  min-height: 25px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cpb-backgroundVideo{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0;
}

.cpb-backgroundComponents,
.cpb-backgroundComponents .cpb-backgroundOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

/* Image reset */

img.cpb-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  height: auto;
  display: block;
  width: auto;
}

.cpb-sliderW .cpb-slideImage {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* Alignment */

.cpb-icon.cpb-alignLeft,
.cpb-image.cpb-alignLeft,
.cpb-button.cpb-alignLeft,
.cpb-text.cpb-alignLeft > *,
.cpb-slider.cpb-alignLeft .cpb-slideAside * { text-align: left; }

.cpb-icon.cpb-alignCenter,
.cpb-image.cpb-alignCenter,
.cpb-button.cpb-alignCenter,
.cpb-text.cpb-alignCenter > *,
.cpb-slider.cpb-alignCenter .cpb-slideAside * { text-align: center; }

.cpb-icon.cpb-alignRight,
.cpb-image.cpb-alignRight,
.cpb-button.cpb-alignRight,
.cpb-text.cpb-alignRight > *,
.cpb-slider.cpb-alignRight .cpb-slideAside * { text-align: right; }

/* Lightbox */

.cpb-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba( 0, 0, 0, .8 );
  color: white;
  z-index: 99999;
}

.cpb-lightbox .cpb-inner { padding: 50px; }

.cpb-lightbox .cpb-inner,
.cpb-lightbox .cpb-inner > * {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  display: block;
}

.cpb-lightbox .cpb-close {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;
  font: 100 20px/20px sans-serif;
  text-align: center;
  opacity: .7;
  border: 5px solid black;
  background: black url(../../includes/img/cpb-lbUiSprite.png) no-repeat 0 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-indent: -99999em;

}

.cpb-lightbox .cpb-close:hover { opacity: 1; }

.cpb-lightbox .cpb-lbPrev,
.cpb-lightbox .cpb-lbNext,
.cpb-lightbox .cpb-lbTopbar,
.cpb-lightbox .cpb-lbBottombar {
  position: absolute;
  left: -9999em;
  z-index: 1;
}

.cpb-lightbox .cpb-lbPrev,
.cpb-lightbox .cpb-lbNext {
  top: 50%;
  margin: -15px 0 auto;
  background: rgba( 0, 0, 0, .5 );
}

.cpb-lightbox:hover .cpb-lbPrev { left: 0; }

.cpb-lightbox:hover .cpb-lbNext {
  left: auto;
  right: 0;
}
.cpb-lightbox:hover .cpb-lbPrev:before { background-position: 0 -40px; }
.cpb-lightbox:hover .cpb-lbNext:before { background-position: 0 -20px; }
.cpb-lightbox:hover .cpb-lbClose:before { background-position: 0 0; }

.cpb-lightbox .cpb-lbTopbar,
.cpb-lightbox .cpb-lbBottombar {
  top: 0;
  background: rgba( 0, 0, 0, .5 );
  color: white;
  padding: 0;
  margin: 0;
  text-align: right;
}

.cpb-lightbox:hover .cpb-lbTopbar,
.cpb-lightbox:hover .cpb-lbBottombar {
  left: 0;
  right: 0;
}

.cpb-lightbox:hover .cpb-lbBottombar {
  bottom: 0;
  top: auto;
}

.cpb-lightbox .cpb-lbBottombar .cpb-lbCaption {
  max-width: 500px;
  margin: 10px auto;
}

.cpb-lightbox .cpb-lbBottombar .cpb-lbCaption,
.cpb-lightbox .cpb-lbBottombar .cpb-lbCaption * {
  color: white;
  text-align: left;
  font: 300 14px/1.5 sans-serif;
  display: block;
}
/* Placeholders */

.cpb-empty.cpb-placeholder {
  background: #D2D2D2;
  height: 100px;
  border-radius: 5px;
}

.cpb-empty.cpb-placeholder > span { display: none; }

/* Gallery */

.cpb-gallery.cpb-wrapper {
  display: block;
  position: relative;
}

.cpb-stmasonry.cpb-col2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.cpb-stmasonry.cpb-col3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.cpb-stmasonry.cpb-col4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.cpb-stmasonry.cpb-col5 {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
}

.cpb-gallery.cpb-stmasonry .cpb-wrapper {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  break-inside: avoid-column;
}

.cpb-gallery .cpb-item > div {
  overflow: hidden;
  position: relative;
  background: black;
}

.cpb-gallery .cpb-image {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  box-sizing: border-box;
}

.cpb-gallery .cpb-aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: none;
}

.cpb-gallery .cpb-item.cpb-wrapper:hover .cpb-aside {
  align-items: center;
  display: flex;
  text-align: center;
}

.cpb-gallery .cpb-item.cpb-wrapper .cpb-aside > * { width: 100%; }

.cpb-gallery.cpb-anzoom .cpb-item:hover .cpb-image{
  transform: scale( 2, 2 );
  transition: all .2s linear;

}

.cpb-gallery.cpb-anrotate .cpb-item:hover .cpb-image{
  transform: scale( 2, 2 ) rotate( 45deg );
  transition: all .2s linear;

}

.cpb-gallery.cpb-anblur .cpb-item:hover .cpb-image{
  filter: blur( 10px );
  -webkit-filter: blur( 10px );
  transition: all .2s linear;
}

.cpb-gallery.cpb-stoffset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cpb-gallery.cpb-stoffset.cpb-col5 > .cpb-item{ width: 20%; }
.cpb-gallery.cpb-stoffset.cpb-col4 > .cpb-item{ width: 25%; }
.cpb-gallery.cpb-stoffset.cpb-col3 > .cpb-item{ width: 33.333%; }
.cpb-gallery.cpb-stoffset .cpb-hr { width: 100%; }

/* Slider */

.cpb-sliderW .cpb-slide {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.cpb-sliderW .cpb-slideWi { display: block; }

.cpb-sliderW .cpb-slideAside,
.cpb-sliderW .cpb-slideAside * {
  padding: 0;
  margin: 0;
}

.cpb-sliderW .cpb-slideAside { padding: 2%; }

.cpb-sliderW.cpb-sliderTl .cpb-slideWi,
.cpb-sliderW.cpb-sliderTr .cpb-slideWi {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}

.cpb-sliderW.cpb-sliderTl .cpb-slideFigure,
.cpb-sliderW.cpb-sliderTr .cpb-slideFigure { width: 60%; }

.cpb-sliderW .cpb-slideFigure .cpb-slideImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.cpb-sliderW.cpb-sliderTl .cpb-slideAside,
.cpb-sliderW.cpb-sliderTr .cpb-slideAside { width: 40%; }


.cpb-sliderW.cpb-sliderTc .cpb-slideAside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Audio */

.cpb-audio {
  border: 0;
  width: 100%;
}

/* Video */

.cpb-elementVideo .cpb-elementContent { position: relative; }

.cpb-video {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.cpb-video .cpb-poster {
  display: block;
  cursor: pointer;
  position: relative;
}

.cpb-video .cpb-image {
  border: 0;
  margin: 0;
  display: block;
  object-fit: cover;
}

.cpb-video .cpb-poster:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: none;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.cpb-video .cpb-poster:hover:before { background: rgba( 0, 0, 0, .3 ); }

.cpb-video .cpb-button,
.cpb-video .cpb-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px auto auto -25px;
  width: 60px;
  height: 60px;
  z-index: 1;
  background: none;
  cursor: pointer;
  padding: 0;
}

.cpb-video .cpb-button span {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
  margin: -10px -5px;
}

.cpb-video .cpb-poster:hover .cpb-button { transform: scale( 1.05, 1.05 ); }

/* Google Map */

.cpb-map.cpb-frame {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  min-height: 200px;
  border: 0;
  background: #DDD;
  color: black;
}

/* Text */

.cpb-text.cpb-wrapper * {
  color: inherit;
  letter-spacing: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.cpb-text.cpb-wrapper b,
.cpb-text.cpb-wrapper strong{ font-weight: bolder; }

.cpb-text.cpb-wrapper i,
.cpb-text.cpb-wrapper em{ font-style: italic; }

.cpb-text.cpb-wrapper sub,
.cpb-text.cpb-wrapper sup,
.cpb-text.cpb-wrapper small{ font-size: 80%; }

.cpb-text.cpb-wrapper mark{
  background: yellow;
  color: black;
}

.cpb-text.cpb-wrapper s,
.cpb-text.cpb-wrapper del,
.cpb-text.cpb-wrapper strike{ text-decoration: line-through; }

.cpb-text.cpb-wrapper u,
.cpb-text.cpb-wrapper ins{ text-decoration: underline; }

.cpb-text.cpb-wrapper sub,
.cpb-text.cpb-wrapper sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.cpb-text.cpb-wrapper sub{ bottom: -.25em; }

.cpb-text.cpb-wrapper sup{ top: -.25em; }

/* Image */

.cpb-image.cpb-wrapper .cpb-image{
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cpb-image.cpb-wrapper .cpb-caption {
  display: block;
  margin-top: 20px;

}

/* List */

.cpb-list{
  display: block;
  list-style: none;
  list-style-position: inside;
}

.cpb-list,
.cpb-list li{
  padding: 0;
  margin: 0;
  border: 0
}

.cpb-list li {
  background-repeat: no-repeat;
  line-height: 1.5;
  display: list-item;
}

.cpb-list li.cpb-alignTop {
  background-position: left top;
}
.cpb-list li.cpb-alignMiddle {
  background-position: left center;
}
.cpb-list li.cpb-alignBottom {
  background-position: left bottom;
}

.cpb-list.cpb-listdisc {list-style-type:disc; }

.cpb-list.cpb-listcircle {list-style-type:circle; }

.cpb-list.cpb-listsquare {list-style-type:square; }

.cpb-list.cpb-listarmenian {list-style-type:armenian; }

.cpb-list.cpb-listcjk_ideographic {list-style-type:cjk-ideographic; }

.cpb-list.cpb-listdecimal {list-style-type:decimal; }

.cpb-list.cpb-listdecimal_leading_zero {list-style-type:decimal-leading-zero; }

.cpb-list.cpb-listgeorgian {list-style-type:georgian; }

.cpb-list.cpb-listhebrew {list-style-type:hebrew; }

.cpb-list.cpb-listhiragana {list-style-type:hiragana; }

.cpb-list.cpb-listhiragana_iroha {list-style-type:hiragana-iroha; }

.cpb-list.cpb-listkatakana {list-style-type:katakana; }

.cpb-list.cpb-listkatakana_iroha {list-style-type:katakana-iroha; }

.cpb-list.cpb-listlower_alpha {list-style-type:lower-alpha; }

.cpb-list.cpb-listlower_greek {list-style-type:lower-greek; }

.cpb-list.cpb-listlower_latin {list-style-type:lower-latin; }

.cpb-list.cpb-listlower_roman {list-style-type:lower-roman; }

.cpb-list.cpb-listupper_alpha {list-style-type:upper-alpha; }

.cpb-list.cpb-listupper_latin {list-style-type:upper-latin; }

.cpb-list.cpb-listupper_roman {list-style-type:upper-roman; }

/* Icon */

.cpb-icon.cpb-inner {
  margin: 0;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  line-height: 1;
}

.cpb-icon.cpb-inner svg {
  display: inline-block;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
  color: inherit;
}

/* Button */

.cpb-button.cpb-wrapper .cpb-link,
.cpb-button.cpb-wrapper .cpb-link > span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1.2;
  text-align: center;
}

.cpb-button.cpb-alignJustify .cpb-link { display: block; }

.cpb-button.cpb-wrapper .cpb-icon,
.cpb-button.cpb-wrapper .cpb-icon svg { min-width: 10px; }

.cpb-button.cpb-wrapper .cpb-icon svg {
  max-width: 100%;
  height: auto;
  display: block;
  fill: currentColor;
}

/* Animation */

.cpb-animated {
  animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.cpb-animated.cpb-efInfinite {
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.cpb-ef-shrink:hover {
  transform:scale(.9);
  -o-transform:scale(.9);
  -ms-transform:scale(.9);
  -moz-transform:scale(.9);
  -webkit-transform:scale(.9);
}

.cpb-ef-down:hover {
  transform: translateY(10px);
  -o-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -webkit-transform: translateY(10px);
}

.cpb-ef-up:hover {
  transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
}

.cpb-ef-right:hover {
  transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -webkit-transform: translateX(10px);
}

.cpb-ef-left:hover {
  transform: translateX(-10px);
  -o-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
}

.cpb-ef-pulse:hover {
  animation-name: cpulse;
  -o-animation-name: cpulse;
  -moz-animation-name: cpulse;
  -webkit-animation-name: cpulse;
}
@keyframes cpulse { from { transform:scale(1); } 50% { transform:scale(1.05); } to { transform:scale(1); } }
@-o-keyframes cpulse { from { -o-transform:scale(1); } 50% { -o-transform:scale(1.05); } to { -o-transform:scale(1); } }
@-ms-keyframes cpulse { from { -ms-transform:scale(1); } 50% { -ms-transform:scale(1.05); } to { -ms-transform:scale(1); } }
@-moz-keyframes cpulse { from { -moz-transform:scale(1); } 50% { -moz-transform:scale(1.05); } to { -moz-transform:scale(1); } }
@-webkit-keyframes cpulse { from { -webkit-transform:scale(1); } 50% { -webkit-transform:scale(1.05); } to { -webkit-transform:scale(1); } }

.cpb-ef-tada:hover {
  animation-name: ctada;
  -o-animation-name: ctada;
  -moz-animation-name: ctada;
  -webkit-animation-name: ctada;
}


.cpb-ef-fade {
  transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.cpb-ef-zoom:hover {
  transform: scale( 1.05 );
  -o-transform: scale( 1.05 );
  -ms-transform: scale( 1.05 );
  -moz-transform: scale( 1.05 );
  -webkit-transform: scale( 1.05 );
}

@keyframes ctada { from { transform: scale3d(1, 1, 1); } 10%, 20% { transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { transform: scale3d(1, 1, 1); } }
@-o-keyframes ctada { from { -o-transform: scale3d(1, 1, 1); } 10%, 20% { -o-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { -o-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { -o-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { -o-transform: scale3d(1, 1, 1); } }
@-ms-keyframes ctada { from { -ms-transform: scale3d(1, 1, 1); } 10%, 20% { -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { -ms-transform: scale3d(1, 1, 1); } }
@-moz-keyframes ctada { from { -moz-transform: scale3d(1, 1, 1); } 10%, 20% { -moz-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { -moz-transform: scale3d(1, 1, 1); } }
@-webkit-keyframes ctada { from { -webkit-transform: scale3d(1, 1, 1); } 10%, 20% { -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { -webkit-transform: scale3d(1, 1, 1); } }


.cpb-hvrbt{
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.cpb-hvrbt:before{
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height:120%;
  width: 120%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.cpb-hvrbt-stl:before,
.cpb-hvrbt-str:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.cpb-hvrbt-stt:before,
.cpb-hvrbt-stb:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.cpb-hvrbt-str:before {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.cpb-hvrbt-stl:before{
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.cpb-hvrbt-stb:before{
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cpb-hvrbt-stt:before{
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
/*.cpb-hvrbt-str {
-webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}*/

.cpb-hvrbt-stl:hover:before, .cpb-hvrbt-stl:focus:before, .cpb-hvrbt-stl:active:before,
.cpb-hvrbt-str:hover:before, .cpb-hvrbt-str:focus:before, .cpb-hvrbt-str:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.cpb-hvrbt-stt:hover:before, .cpb-hvrbt-stt:focus:before, .cpb-hvrbt-stt:active:before,
.cpb-hvrbt-stb:hover:before, .cpb-hvrbt-stb:focus:before, .cpb-hvrbt-stb:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

@media screen and (max-width: 800px) {
  .cpb-row .cpb-rowContent { flex-wrap: wrap; }

  .cpb-rowContent[data-ncol="4"] .cpb-column,
  .cpb-rowContent[data-ncol="5"] .cpb-column:nth-child(n+4) { width: 50%; }
  .cpb-rowContent[data-ncol="5"] .cpb-column,
  .cpb-rowContent[data-ncol="6"] .cpb-column { width: 33.33%; }
}

@media screen and (max-width: 400px) {
  .cpb-row .cpb-rowContent .cpb-column { width: 100%; }
}
