.cpb-content div, .cpb-content section,
.cpb-content article, .cpb-content aside, .cpb-content figure,
.cpb-content h1, .cpb-content h2, .cpb-content h3, .cpb-content h4, .cpb-content h5, .cpb-content h6, .cpb-content p {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cpb-row,
.cpb-rows,
.cpb-column,
.cpb-section,
.cpb-element,
.cpb-rowContent,
.cpb-columnContent {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 1;
}

.cpb-section,
.cpb-rowContent,
.cpb-columnContent,
.cpb-rows.cpb-sectionContent { width: auto; }

.cpb-row { margin: 0 auto; }

.cpb-column,
.cpb-rowContent {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.cpb-columnContent {
  min-height: 25px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cpb-backgroundVideo{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0;
}

.cpb-backgroundComponents,
.cpb-backgroundComponents .cpb-backgroundOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

/* Image reset */

.cpb-imageW img,
.cpb-sliderW .cpb-slideImage {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* Alignment */

.cpb-iconW.cpb-alignLeft,
.cpb-imageW.cpb-alignLeft,
.cpb-buttonW.cpb-alignLeft,
.cpb-textW.cpb-alignLeft > *,
.cpb-sliderW.cpb-alignLeft .cpb-slideAside * { text-align: left; }

.cpb-iconW.cpb-alignCenter,
.cpb-imageW.cpb-alignCenter,
.cpb-buttonW.cpb-alignCenter,
.cpb-textW.cpb-alignCenter > *,
.cpb-sliderW.cpb-alignCenter .cpb-slideAside * { text-align: center; }

.cpb-iconW.cpb-alignRight,
.cpb-imageW.cpb-alignRight,
.cpb-buttonW.cpb-alignRight,
.cpb-textW.cpb-alignRight > *,
.cpb-sliderW.cpb-alignRight .cpb-slideAside * { text-align: right; }

/* Lightbox */

.cpb-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba( 0, 0, 0, .9 );
  color: white;
  z-index: 99999;
}

.cpb-lightbox .cpb-lbContent {
  position: absolute;
  margin: 20px;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.cpb-lightbox .cpb-lbMedia {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border: 0;
  display: block;
}

.cpb-lightbox .cpb-lbButton {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;
  font: 300 17px/30px sans-serif;
  text-align: center;
  opacity: .7;
  border: 0;
  background: none;
  display: inline-block;
  position: relative;
}

.cpb-lightbox .cpb-lbButton:before{
  background: url(../../includes/img/cpb-lbUiSprite.png) no-repeat center center;
  width: 20px;
  height: 20px;
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
}

.cpb-lightbox .cpb-lbButton:hover { opacity: 1; }

.cpb-lightbox .cpb-lbPrev,
.cpb-lightbox .cpb-lbNext,
.cpb-lightbox .cpb-lbTopbar,
.cpb-lightbox .cpb-lbBottombar {
  position: absolute;
  left: -9999em;
  z-index: 1;
}

.cpb-lightbox .cpb-lbPrev,
.cpb-lightbox .cpb-lbNext {
  top: 50%;
  margin: -15px 0 auto;
  background: rgba( 0, 0, 0, .5 );
}

.cpb-lightbox:hover .cpb-lbPrev { left: 0; }

.cpb-lightbox:hover .cpb-lbNext {
  left: auto;
  right: 0;
}
.cpb-lightbox:hover .cpb-lbPrev:before { background-position: 0 -40px; }
.cpb-lightbox:hover .cpb-lbNext:before { background-position: 0 -20px; }
.cpb-lightbox:hover .cpb-lbClose:before { background-position: 0 0; }

.cpb-lightbox .cpb-lbTopbar,
.cpb-lightbox .cpb-lbBottombar {
  top: 0;
  background: rgba( 0, 0, 0, .5 );
  color: white;
  padding: 0;
  margin: 0;
  text-align: right;
}

.cpb-lightbox:hover .cpb-lbTopbar,
.cpb-lightbox:hover .cpb-lbBottombar {
  left: 0;
  right: 0;
}

.cpb-lightbox:hover .cpb-lbBottombar {
  bottom: 0;
  top: auto;
}

.cpb-lightbox .cpb-lbBottombar .cpb-lbCaption {
  max-width: 500px;
  margin: 10px auto;
}

.cpb-lightbox .cpb-lbBottombar .cpb-lbCaption,
.cpb-lightbox .cpb-lbBottombar .cpb-lbCaption * {
  color: white;
  text-align: left;
  font: 300 14px/1.5 sans-serif;
  display: block;
}
/* Placeholders */

.cpb-elementPlaceholder div {
  background: #D2D2D2;
  height: 14px;
  border-radius: 5px;
  margin: 0 0 5px;
}

.cpb-elementPlaceholder.cpb-eptButton > div{
  height: 40px;
  padding: 13px 0;
}

.cpb-elementPlaceholder.cpb-eptButton > div div{
  background: #828282;
  width: 50%;
  margin: auto; 
}

.cpb-elementPlaceholder.cpb-eptDefault div,
.cpb-elementPlaceholder.cpb-eptImage div:first-child { height: 150px; }

.cpb-elementPlaceholder.cpb-eptText div:last-child,
.cpb-elementPlaceholder.cpb-eptTitle div:last-child,
.cpb-elementPlaceholder.cpb-eptImage div:last-child { width: 50%; }

.cpb-elementPlaceholder.cpb-eptTitle div {
  background: #828282;
  height: 20px;
}

/* Gallery */

.cpb-lbGallery {
	width: 100%;
	height: 100%;
}

.cpb-lbGallery .cpb-lbColumn,
.cpb-lbGallery .cpb-lbGalleryItem {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.cpb-lbGallery .cpb-lbColumn { float: left; }

.cpb-lbGallery.cpb-colSize1 .cpb-lbColumn { width: 100%; }
.cpb-lbGallery.cpb-colSize2 .cpb-lbColumn { width: 50%; }
.cpb-lbGallery.cpb-colSize3 .cpb-lbColumn { width: 33.333%; }
.cpb-lbGallery.cpb-colSize4 .cpb-lbColumn { width: 25%; }
.cpb-lbGallery.cpb-colSize5 .cpb-lbColumn { width: 20%; }

.cpb-lbGalleryWimg {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

.cpb-lbGalleryImg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  box-sizing: border-box;
}

.cpb-lbGallery .cpb-itemCaption {
  padding: 10px;
  margin: 0;
  line-height: 1.5;
}

.cpb-lbGalleryDescapb .cpb-itemCaption,
.cpb-lbGalleryDescapc .cpb-itemCaption {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba( 0, 0, 0, .5 );
  color: white;
  overflow: hidden;
  line-height: 1.5;
  opacity: 0;
  display: block;
  transition: all .3s ease-in-out;
}

.cpb-lbGalleryDescapc .cpb-itemCaption {
  top: 0;
  left: 0;
}

.cpb-lbGalleryDescaph .cpb-itemCaption { display: none; }

.cpb-lbGalleryDescapb .cpb-lbGalleryItem:hover .cpb-itemCaption,
.cpb-lbGalleryDescapc .cpb-lbGalleryItem:hover .cpb-itemCaption { opacity: 1; }

.cpb-lbGalleryDescapc .cpb-itemCaption span {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
  left: 0;
  right: 0;
}

/* Slider */

.cpb-sliderW .cpb-slide {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.cpb-sliderW .cpb-slideWi { display: block; }

.cpb-sliderW .cpb-slideAside,
.cpb-sliderW .cpb-slideAside * {
  padding: 0;
  margin: 0;
}

.cpb-sliderW .cpb-slideAside { padding: 2%; }

.cpb-sliderW.cpb-sliderTl .cpb-slideWi,
.cpb-sliderW.cpb-sliderTr .cpb-slideWi {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}

.cpb-sliderW.cpb-sliderTl .cpb-slideFigure,
.cpb-sliderW.cpb-sliderTr .cpb-slideFigure { width: 60%; }

.cpb-sliderW .cpb-slideFigure .cpb-slideImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.cpb-sliderW.cpb-sliderTl .cpb-slideAside,
.cpb-sliderW.cpb-sliderTr .cpb-slideAside { width: 40%; }


.cpb-sliderW.cpb-sliderTc .cpb-slideAside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Audio */

.cpb-elementAudio audio {
  border: 0;
  width: 100%;
}

/* Video */

.cpb-elementVideo .cpb-elementContent { position: relative; }

.cpb-elementVideo .cpb-videoW {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.cpb-elementVideo .cpb-videoPoster {
  display: block;
  cursor: pointer;
  position: relative;
}

.cpb-videoPoster img {
  max-width: 100%;
  height: auto;
  width: auto;
  border: 0;
  margin: 0;
  display: block;
}

.cpb-videoPoster:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: none;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.cpb-videoPoster:hover:before { background: rgba( 0, 0, 0, .3 ); }

.cpb-videoPlayButton,
.cpb-videoPlayButton span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px auto auto -25px;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.cpb-videoPlayButton span {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
}

.cpb-videoOverlay:hover .cpb-videoPlayButton { transform: scale( 1.05, 1.05 ); }

/* Google Map */

.cpb-elementMap iframe {
  width: 100%;
  min-height: 200px;
  border: 0;
  background: #DDD;
  color: black;
}

/* Text */

.cpb-textW > * {
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  background: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.cpb-textW > code {
	font-family: Consolas,Monaco,monospace;
	unicode-bidi: embed;
}


/* Image */
.cpb-imageW a,
.cpb-imageW span {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.cpb-imageCaption{
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.5;
}

.cpb-imageW.cpb-alignCenter .cpb-imageWi > img { margin: 0 auto; }

.cpb-imageW.cpb-alignRight .cpb-imageWi > img { margin: 0 0 0 auto; }

/* List */

.cpb-listW {
  display: block;
  list-style: inside;
}

.cpb-listW,
.cpb-listW li{
  padding: 0;
  margin: 0;
  border: 0
}

.cpb-listW li {
  background-repeat: no-repeat;
  line-height: 1.5;
  display: list-item;
}

.cpb-listW li.cpb-alignTop {
  background-position: left top;
}
.cpb-listW li.cpb-alignMiddle {
  background-position: left center;
}
.cpb-listW li.cpb-alignBottom {
  background-position: left bottom;
}

.cpb-listW.cpb-listimg,
.cpb-listW.cpb-listnone {list-style: none; }

.cpb-listW.cpb-listdisc {list-style-type:disc; }

.cpb-listW.cpb-listcircle {list-style-type:circle; }

.cpb-listW.cpb-listsquare {list-style-type:square; }

.cpb-listW.cpb-listarmenian {list-style-type:armenian; }

.cpb-listW.cpb-listcjk_ideographic {list-style-type:cjk-ideographic; }

.cpb-listW.cpb-listdecimal {list-style-type:decimal; }

.cpb-listW.cpb-listdecimal_leading_zero {list-style-type:decimal-leading-zero; }

.cpb-listW.cpb-listgeorgian {list-style-type:georgian; }

.cpb-listW.cpb-listhebrew {list-style-type:hebrew; }

.cpb-listW.cpb-listhiragana {list-style-type:hiragana; }

.cpb-listW.cpb-listhiragana_iroha {list-style-type:hiragana-iroha; }

.cpb-listW.cpb-listkatakana {list-style-type:katakana; }

.cpb-listW.cpb-listkatakana_iroha {list-style-type:katakana-iroha; }

.cpb-listW.cpb-listlower_alpha {list-style-type:lower-alpha; }

.cpb-listW.cpb-listlower_greek {list-style-type:lower-greek; }

.cpb-listW.cpb-listlower_latin {list-style-type:lower-latin; }

.cpb-listW.cpb-listlower_roman {list-style-type:lower-roman; }

.cpb-listW.cpb-listupper_alpha {list-style-type:upper-alpha; }

.cpb-listW.cpb-listupper_latin {list-style-type:upper-latin; }

.cpb-listW.cpb-listupper_roman {list-style-type:upper-roman; }

/* Icon */

.cpb-iconW .cpb-iconWi {
  margin: 0;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  line-height: 1;
}

.cpb-iconW .cpb-iconWi svg {
  display: inline-block;
  width: 20px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
}

/* Button */

.cpb-theButton,
.cpb-theButton > span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  width: auto;
  height: auto;
  line-height: 1.2;
  text-align: center;
}

.cpb-alignJustify .cpb-theButton { display: block; }

.cpb-theButton > .cpb-buttonIcon svg {
  max-width: 100%;
  height: auto;
  display: block;
  fill: currentColor;
}

/* Animation */

.cpb-animated {
  animation-duration: 1s;
  -o-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.cpb-animated.cpb-efInfinite {
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.cpb-ef-shrink:hover {
  transform:scale(.9);
  -o-transform:scale(.9);
  -ms-transform:scale(.9);
  -moz-transform:scale(.9);
  -webkit-transform:scale(.9);
}

.cpb-ef-down:hover {
  transform: translateY(10px);
  -o-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -webkit-transform: translateY(10px);
}

.cpb-ef-up:hover {
  transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
}

.cpb-ef-right:hover {
  transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -webkit-transform: translateX(10px);
}

.cpb-ef-left:hover {
  transform: translateX(-10px);
  -o-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
}

.cpb-ef-pulse:hover {
  animation-name: cpulse;
  -o-animation-name: cpulse;
  -moz-animation-name: cpulse;
  -webkit-animation-name: cpulse;
}
@keyframes cpulse { from { transform:scale(1); } 50% { transform:scale(1.05); } to { transform:scale(1); } }
@-o-keyframes cpulse { from { -o-transform:scale(1); } 50% { -o-transform:scale(1.05); } to { -o-transform:scale(1); } }
@-ms-keyframes cpulse { from { -ms-transform:scale(1); } 50% { -ms-transform:scale(1.05); } to { -ms-transform:scale(1); } }
@-moz-keyframes cpulse { from { -moz-transform:scale(1); } 50% { -moz-transform:scale(1.05); } to { -moz-transform:scale(1); } }
@-webkit-keyframes cpulse { from { -webkit-transform:scale(1); } 50% { -webkit-transform:scale(1.05); } to { -webkit-transform:scale(1); } }

.cpb-ef-tada:hover {
  animation-name: ctada;
  -o-animation-name: ctada;
  -moz-animation-name: ctada;
  -webkit-animation-name: ctada;
}


.cpb-ef-fade {
  transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.cpb-ef-zoom:hover {
  transform: scale( 1.05 );
  -o-transform: scale( 1.05 );
  -ms-transform: scale( 1.05 );
  -moz-transform: scale( 1.05 );
  -webkit-transform: scale( 1.05 );
}

@keyframes ctada { from { transform: scale3d(1, 1, 1); } 10%, 20% { transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { transform: scale3d(1, 1, 1); } }
@-o-keyframes ctada { from { -o-transform: scale3d(1, 1, 1); } 10%, 20% { -o-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { -o-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { -o-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { -o-transform: scale3d(1, 1, 1); } }
@-ms-keyframes ctada { from { -ms-transform: scale3d(1, 1, 1); } 10%, 20% { -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { -ms-transform: scale3d(1, 1, 1); } }
@-moz-keyframes ctada { from { -moz-transform: scale3d(1, 1, 1); } 10%, 20% { -moz-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { -moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { -moz-transform: scale3d(1, 1, 1); } }
@-webkit-keyframes ctada { from { -webkit-transform: scale3d(1, 1, 1); } 10%, 20% { -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); } 30%, 50%, 70%, 90% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); } 40%, 60%, 80% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); } to { -webkit-transform: scale3d(1, 1, 1); } }


.cpb-hvrbt{
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.cpb-hvrbt:before{
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height:120%;
  width: 120%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.cpb-hvrbt-stl:before,
.cpb-hvrbt-str:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.cpb-hvrbt-stt:before,
.cpb-hvrbt-stb:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.cpb-hvrbt-str:before {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.cpb-hvrbt-stl:before{
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.cpb-hvrbt-stb:before{
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cpb-hvrbt-stt:before{
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
/*.cpb-hvrbt-str {
-webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}*/

.cpb-hvrbt-stl:hover:before, .cpb-hvrbt-stl:focus:before, .cpb-hvrbt-stl:active:before,
.cpb-hvrbt-str:hover:before, .cpb-hvrbt-str:focus:before, .cpb-hvrbt-str:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.cpb-hvrbt-stt:hover:before, .cpb-hvrbt-stt:focus:before, .cpb-hvrbt-stt:active:before,
.cpb-hvrbt-stb:hover:before, .cpb-hvrbt-stb:focus:before, .cpb-hvrbt-stb:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

@media screen and (max-width: 800px) {
  .cpb-row .cpb-rowContent { flex-wrap: wrap; }

  .cpb-rowContent[data-ncol="4"] .cpb-column,
  .cpb-rowContent[data-ncol="5"] .cpb-column:nth-child(n+4) { width: 50%; }
  .cpb-rowContent[data-ncol="5"] .cpb-column,
  .cpb-rowContent[data-ncol="6"] .cpb-column { width: 33.33%; }
}

@media screen and (max-width: 400px) {
  .cpb-row .cpb-rowContent .cpb-column { width: 100%; }
}
