@import '../utils/variables';
@import '../utils/mixins';

%tooltipOnRight {
    font: 300 13px/1.2 sans-serif;
    color: white;
    position: relative;
    top: 0;
    left: -200px;
    background: red;
    padding: 5px;
    @include border_radius( 3px );
    @include transition( left .1s ease-in-out );

}

%tooltipArrowLeft {
    position: absolute;
    top: 50%;
    right: 100%;
    content: '';
    margin-top: -6px;

    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid red;

}

.comet-cockpit {
    height: 100%;
    width: 50px;
    background: $daDark;
    overflow: visible;
    z-index: 1;
    color: white;
    text-align: left;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-between;
    order: 1;

    .comet-cockpit__expand { 
        visibility: hidden;
        height: 0;
        width: 0;
        overflow: hidden;
    }

    &.is_toggled {
        width: 250px;

        .comet-cockpit__expand {
            visibility: visible;
            height: auto;
            width: auto;
            overflow: visible;

        }

        .comet-elements {
            margin: 7px;

            .comet-elements__list {
                overflow-y: auto;
                overflow-x: hidden;

                .comet-elements__list__element { width: 33.33%; }

            }
        }

        .comet-exmenu {
            width: 100%;
            padding: 7px;
        }

        .comet-footer {
            padding: 7px;

            .comet-footer__button {

                &, &.comet-cockpit__expand {
                    width: 33.33%;
                    padding: 10px;
                }
                
            }

        }

    }

    .comet-cockpit__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        .comet-cockpit__header__switch {
            background: $daAccent;
            padding: 5px;
            margin: 7px;
            color: white;
            cursor: pointer;
            @include border_radius( 40px );

            .comet-cockpit__header__switch__icon {
                width: 25px;
                height: 25px;
                font-size: 25px;
                display: block;

            }

            .comet-cockpit__header__switch__tooltip {
                visibility: hidden;
                position: absolute;
                top: 7px;
                left: 40px;

                > span {
                    @extend %tooltipOnRight;

                    &:before { @extend %tooltipArrowLeft; }

                }

            }

            &:hover .comet-cockpit__header__switch__tooltip {
                visibility: visible;

                > span { left: 10px; }

            }

        }

    }

    .comet-elements {

        .comet-elements__searchbox {
            position: relative;

            .comet-elements__searchbox__bar {
                background: $liDark;
                border-color: $liDark;
                color: white;
                opacity: .8;
                padding: 10px 10px 10px 40px;
                height: auto;
                line-height: 1.2;

                &:hover {
                    opacity: 1;
                    border-color: $liDark;
                    @include box_shadow( none );
                }

                &:focus {
                    border-color: white;
                    background: white;
                    color: $liDark;
                    opacity: 1;
                    @include box_shadow( none );

                    + .comet-elements__searchbox__icon { color: $liDark; }

                }

            }

            .comet-elements__searchbox__icon {
                position: absolute;
                top: 10px;
                left: 10px;
                color: white;
            }

        }


        .comet-elements__list {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: flex-start;
            width: 100%;
            padding: 10px 0;
            overflow: hidden;
            max-height: 290px;

            .comet-elements__list__element {
                text-align: center;
                width: 100%;
                background: none;
                border: 0;
                color: white;
                padding: 10px;
                cursor: pointer;

                .comet-elements__list__element__icon {
                    width: 25px;
                    height: 25px;
                    font-size: 25px;
                    color: white;
                }

                .comet-elements__list__element__title {
                    visibility: hidden;
                    position: absolute;

                    > span {
                        @extend %tooltipOnRight;

                        &:before { @extend %tooltipArrowLeft; }

                    }

                }

                &:hover .comet-elements__list__element__title {
                    visibility: visible;

                    > span { left: 10px; }

                }

            }

        }

    }

    .comet-exmenu {

        .comet-exmenu__button {
            width: 100%;
            padding: 10px;
            text-align: left;
            background: rgba( 0, 106, 254, .2 );
            font: 500 14px/1.2 sans-serif;
            color: white;
            cursor: pointer;
            @include border_radius( 5px );

            .comet-exmenu__button__icon {
                background: $daAccent;
                padding: 5px;
                font-size: 16px;
                height: 16px;
                width: 16px;
                margin-right: 10px;
                @include border_radius( 40px );
            }
        }
    }

    .comet-footer {
        border-top: 1px solid $liDark;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        overflow: hidden;
        flex-wrap: wrap;

        .comet-footer__button {
            width: 100%;
            color: white;
            background: none;
            margin: 0;
            cursor: pointer;
            padding: 10px;

            &.comet-cockpit__expand {
                width: 0;
                padding: 0;

            }

            .comet-footer__button__title {
                position: absolute;
                visibility: hidden;

                > span {
                    @extend %tooltipOnRight;

                    &:before { @extend %tooltipArrowLeft; }
                }
            }

            &:hover .comet-footer__button__title {
                visibility: visible;

                > span { left: 10px; }

            }

        }
    }
}

/*

.comet-cockpit{
    z-index: 2;
    display: none;

    > .comet-sideToggleButton {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc( 100% - 300px );
        z-index: 1;
        background: rgba( 0, 0, 0, .3 );
    }

    .comet-inner {
        background: rgba( 44, 45, 49, .95 );
        width: 300px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
    }

    .comet-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        color: white;

        > p {
            text-align: center;
            width: 100%;
            padding: 5px 0;
        }

        button {
            color: white;
            opacity: .7;

            &:hover { opacity: 1; }

        }

        p button {
            padding: 0;
            margin: 0;
            border: 0;
            font: 300 13px/1.2 sans-serif;
            background: none;
            cursor: pointer;
        }

        > .comet-button{

            &, .cico {
                width: 15px;
                height: 15px;
                line-height: 15px;
                font-size: 15px;
                padding: 0;
                display: block;
            }

        }

    }

    .comet-footer {
        height: 50px;

        .comet-button {
            height: 50px;
            line-height: 50px;
            width: 50px;
            padding: 0;
            text-align: center;
            color: white;

            span { color: white; }

            &:hover{ background: rgba( 0, 0, 0, .2 ); }

        }

    }

    .comet-notifications {
        height: calc( 100% - 135px );
        overflow: auto;
        margin: 0 10px 10px;

        .comet-notification {
            padding: 10px;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
            background: rgba( 0, 0, 0, .2 );

            .comet-close {
                padding: 0;
                position: absolute;
                top: 4px;
                right: 999999em;
                line-height: 12px;
                height: auto;

                .cico {
                    color: $daLight;
                    font-size: 12px;
                    width: 12px;
                    height: 12px;
                }


                &:hover .cico { color: white; }

            }

            &:hover .comet-close { right: 4px; }

            &.success p{

                &, * { color: #ADE995; }

            }

            &.error p{

                &, * { color: #E36F6A; }

            }

            &.warning p {

                &, * { color: #F3D567; }

            }

        }

    }

    }*/
