@import '../utils/variables';
@import '../utils/mixins';

.comet-colorPicker {
    position: absolute;
    top:0;
    left:0;
    z-index:9999;
    background: white;
    width: 200px;
    @include box_shadow( 0 0 15px rgba( 0, 0, 0, .3) );

    .comet-eRDragger {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border: 0;
        background: white;
        padding: 0;
        margin: 0;
        cursor: pointer;
        @include border_radius( 100% );
        @include box_shadow( 0 0 3px 0 $liDark );
    }

    .comet-cpContent {
        padding: 5px 10px;

        > * { padding: 5px 0; }

    }
}

.comet-cpwOpacity .comet-eRange {
    position: relative;
    width: 100%;
    height: 10px;
    background:transparent;
    background-image:-webkit-linear-gradient(to left, black, rgba(0,0,0,0) );
    background-image:-moz-linear-gradient(to left, black, rgba(0,0,0,0) );
    background-image:linear-gradient(to left, black, rgba(0,0,0,0) );

}

.comet-cpwHue .comet-eRange {
    position:relative;
    width: 100%;
    height: 10px;
    background: none;
    background-image:-webkit-linear-gradient(to right,#f00 0%,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%);
    background-image:-moz-linear-gradient(to right,#f00 0%,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%);
    background-image:linear-gradient(to right,#f00 0%,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%);
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    overflow:hidden;
}

.comet-cpSat {
    position:relative;
    width: 100%;
    height: 150px;
    background: #ff0000;
    background-image:-webkit-linear-gradient(to top,#000,rgba(0,0,0,0)),linear-gradient(to right,#fff,rgba(255,255,255,0));
    background-image:-moz-linear-gradient(to top,#000,rgba(0,0,0,0)),linear-gradient(to right,#fff,rgba(255,255,255,0));
    background-image:linear-gradient(to top,#000,rgba(0,0,0,0)),linear-gradient(to right,#fff,rgba(255,255,255,0));
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    cursor: pointer;
}

.comet-cpInput {
    font: 300 13px/30px sans-serif;
    color: $liDark;
    padding: 5px;
    border: 1px solid $daLight;
    height: 30px;
    width: 100%;
    box-sizing: border-box;

    &:focus { @include box_shadow( 0 0 5px 0 $daLight ); }

}

.comet-cpRender {
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: $liDark;
    width: 30px;
    height: 30px;
    background: white;
    margin: 0 10px 0 0;
    padding: 0;
    border: 1px solid $daLight;
    position: relative;
    text-indent: 9999em;
    @include border_radius( 100% );
}

.comet-cpDragger{
    position: absolute;
    top: 50px;
    left: 0;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    @include border_radius( 100% );
    @include box_shadow( 0 0 0 1px black );
}

.comet-cpClear {
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: white;
    margin: 0 10px 0 0;
    padding: 0;
    border: 1px solid $daLight;
    position: relative;
    text-indent: 9999em;
    @include border_radius( 100% );

    &:before {
        content: '';
        background: red;
        height: 30px;
        width: 1px;
        position: absolute;
        left:50%;
        top: 0;
        @include transform( rotate( 45deg ) );
    }

}