@import '../utils/variables';
@import '../utils/mixins';

$opAccent: rgba( 0, 106, 254, 0.8 );

.comet-contextmenu {
    position: absolute;
    z-index: 1;
    background: rgba( 0, 0, 0, .6 );
    color: white;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    font: 300 15px/1.2 sans-serif;
    cursor: default;
    width: 150px;
    padding: 4px 0;
    @include border_radius( 3px );

    .comet-option{

        > span {
            display: flex;
            padding: 5px 10px;
            justify-content: space-between;
            align-items: center;

            > .cico {
                width: 13px;
                height: 13px;
                font-size: 13px;
                display: block;
            }
            
        }

        .comet-items{
            background: rgba( 0, 0, 0, .6 );
            position: absolute;
            top: 0;
            left: -99999em;
            width: 150px;
            padding: 4px 0;
            @include border_radius( 3px );

        }

        &:hover {

            > span { background: $opAccent; }

            .comet-items{ left: 100%; }

        }

    }

    .comet-item{
        width: 100%;
        padding: 5px 10px;
        text-align: left;
        color: white;
        background: none;
        margin: 0;
        font: 300 15px/1.2 sans-serif;
        cursor: pointer;

        &:hover { background: $opAccent; }

    }
}