@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/reset';

body {
    background: $liLight;
    overflow: auto;
}

@include form_fields;

.comet-waitwhile > .cico { @include animation( waitWhile 2s linear 0s infinite ); }

@keyframes waitWhile {
    from { @include transform( rotate(0deg) ); } to { @include transform( rotate(360deg) ); }

}

@import '../utils/button';
@import '../utils/message';
@import '../utils/dialog';
@import '../utils/modal';
@import 'dashboard';
@import 'fonts';
@import 'mytemplates';
@import 'settings';

/* Responsive */

@media screen and ( max-width: 500px ) {


/*.comet-dashboard.comet-admin {
  #comet-dashboard #comet-mapDashboard .comet-column{
    width: 100%;
    display: block;
    padding: 0;
}*/

#comet-settings .comet-column {
    display: block;
    width: auto;
    padding:0;
}

#comet-settings .comet-column.last { padding-top: 10px }

}
