@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/reset';

body {
  font: 300 15px/1.5 sans-serif;
  text-decoration: none;
  color: $liDark;
  background: $liLight;
  overflow: auto;
}

.comet-waitwhile > .cico { @include animation( waitWhile 2s linear 0s infinite ); }

@keyframes waitWhile {
  
  from {
  	@include transform( rotate(0deg) );

  } to {
  	@include transform( rotate(360deg) );

  }

}

@import '../utils/button';
@import '../utils/message';
@import '../utils/dialog';
@import '../utils/modal';
@import 'dashboard';
@import 'fonts';
@import 'mytemplates';
@import 'settings';