@charset "UTF-8";

html, body, * {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 300 15px/1.5 sans-serif;
  text-decoration: none;
  color: #404146;
  background: #EDF5FB;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

h1 { font-size: 25px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 17px; }
h5 { font-size: 15px; }
h6 { font-size: 13px; }

a { font-weight: 500; }

a:hover,
a:focus,
a:active { text-decoration: none; }

a, button, input, select, textarea,
a:focus, button:focus, input:focus,
a:active, button:active, input:active {
  box-shadow: none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  outline: 0;
}

ul, li, ol, label { list-style: none; }

div,
form,
figure,
article, label, ul, li,
ol, p, h1, h2, h3, h4, h5, h6 {
  display: block;
  background: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

.comet-button {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.comet-tooltip { position: relative; }

.comet-tooltip.comet-active:after {
  content: '';
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-right:10px solid #2C2D31;
  position: absolute;
  top: 100%;
  left: 50%;
  margin: -9px auto auto -9px;
}

.comet-tooltip .comet-innerTooltip {
  position: absolute;
  top: 100%;
  right: 0;
  background: #2C2D31;
  width: 280px;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 #DAE5EE;
  text-align: center;
  z-index: 1;
  color: white;
  overflow: hidden;
  display: none;
}

.comet-tooltip.comet-active > .comet-innerTooltip { display: block; }

.comet-tooltip .comet-innerTooltip * { color: white; }

.comet-innerTooltip .comet-blockTooltip {
  display: block;
  padding: 10px;
}

.comet-mainTooltip {
  max-height: 280px;
  overflow: auto;
}

.comet-mainTooltip a {
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

.comet-footerTooltip.comet-blockTooltip { padding: 0; }

.comet-footerTooltip a {
  display: block;
  padding: 10px 34px 10px 10px;
  margin: 0;
  border: 0;
  text-align: left;
  color: white;
  text-decoration: none;
  position: relative;
  background: #404146;
  transition: all ease-in-out .5s;
}

.comet-footerTooltip a:hover,
.comet-footerTooltip a:active {
  background: #006AFE;
  background: linear-gradient(225deg, #52CEFF 0%, #006AFE 74%);
  background: -moz-linear-gradient(225deg, #52CEFF 0%, #006AFE 74%);
  background: -webkit-linear-gradient(225deg, #52CEFF 0%, #006AFE 74%);
  background: -webkit-linear-gradient(225deg, #52CEFF 0%, #006AFE 74%);
}

.comet-footerTooltip a .cico {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  color: rgba( 255, 255, 255, .5 );
  font-size: 14px;
  height: 14px;
  width: 14px;
}
/* Dashboard */

.comet-dashboard.comet-admin { padding-top: 50px; }

.comet-dashboard.comet-admin > .comet-header {
	position: fixed;
	width: 100%;
	background: white;
	height: 50px;
  border-bottom: 1px solid #DAE5EE;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 99999;
  display: flex;
}

.comet-dashboard.comet-admin > .comet-header > .comet-column {
  width: 33.333%;
  display: flex;
}

.comet-dashboard.comet-admin > .comet-header > .comet-column.col2 {
  justify-content: center;
}

.comet-dashboard.comet-admin > .comet-header > .comet-column.col3 {
  justify-content: flex-end;
}

.comet-dashboard.comet-admin > .comet-header h1 {
  color: #006AFE;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.comet-dashboard.comet-admin > .comet-content {
  padding: 30px;
  position: relative;
}

.comet-dashboard.comet-admin .comet-content.comet-boxed {
  max-width: 800px;
  margin: 0 auto;
}

.comet-dashTopBarMenuPop { position: relative; }

.comet-dashTopBarItem,
.comet-dashTopBarItem .comet-icon {
  line-height: 50px;
  color: #404146;
  width: auto;
  height: 50px;
  text-decoration: none;
  text-align: center;
  font: 500 16px/50px sans-serif;
  text-transform: uppercase;
  display: block;
}

.comet-dashTopBarItem .comet-icon { width: 50px; }

.comet-dashTopBarItem:hover,
.comet-dashTopBarItem:hover .comet-icon {
  text-decoration: none;
  color: #006AFE;
}

#comet-doSidebarOpen .comet-icon { font-size: 30px; }

#comet-dashboardSidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	background: rgba( 0, 0, 0, .5 );
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
}

#comet-dashboardSidebar > div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	background: #2C2D31;
  padding: 20px;
  line-height: 20px;
}

#comet-doSidebarClose .comet-icon {
	line-height: 20px;
	font-size: 13px;
	margin-right: 10px;
}

#comet-dashboardSidebarMenu { margin: 20px 0; }

#comet-dashboardSidebarMenu li a {
  line-height: 20px;
  color: #D6D7DB;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px 0;
}

#comet-dashboardSidebarMenu li a:hover { color: white; }

/* Row / Column */

.comet-row {
  display: flex;
  flex-wrap: wrap;
}

.comet-middleIb {
  display: inline-block;
  vertical-align: middle;
}

.comet-row.col3 .comet-column { width: 30%; }
.comet-row.col2 .comet-column { width: 50%; }

.comet-row.col3 .comet-column.col2 { width: 40%; }


/* Button */

.comet-button {
  border: 0;
  display: inline-block;
  vertical-align: middle;
  background: none;
  margin: 0;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: none;
	padding: 10px 20px;
	height: auto;
  font: 300 15px/1.1 sans-serif;
  width: auto;
  cursor: pointer;
  overflow: hidden;
}

.comet-button.comet-buttonPrimary {
  background: #006AFE;
  color: white;
}

.comet-button:hover {
  transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
}

.comet-button.cico { font-family: 'cico';}

/* Message */

.comet-message,
.comet-message p {
  border: 0;
  display: block;
  text-align: left;
  font: 400 15/20px sans-serif;
  margin: 0;
  padding: 0;
}

.comet-message a {
  text-decoration: none;
  font-weight: 500;
}

.comet-message a:hover,
.comet-message a:active { text-decoration: underline; }

.comet-message {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px 0 5px 5px;
}

.comet-message.comet-messageSuccess { background: #DFFFE7; }

.comet-message.comet-messageSuccess,
.comet-message.comet-messageSuccess a,
.comet-message.comet-messageSuccess a:hover,
.comet-message.comet-messageSuccess a:active { color: #2CC265; }

.comet-message.comet-messageError { background: #FFE8DF; }

.comet-message.comet-messageError,
.comet-message.comet-messageError a,
.comet-message.comet-messageError a:hover,
.comet-message.comet-messageError a:active { color: #E66E3F; }

.comet-message.comet-error { color: #E66E3F;  }

.comet-message.comet-messageWarning { background: #FFFDDF; }

.comet-message.comet-messageWarning,
.comet-message.comet-messageWarning a,
.comet-message.comet-messageWarning a:hover,
.comet-message.comet-messageWarning a:active { color: #C2A32C; }

.comet-message.comet-messageNote { background: #404146; }

.comet-message.comet-messageNote,
.comet-message.comet-messageNote a,
.comet-message.comet-messageNote a:hover,
.comet-message.comet-messageNote a:active { color: #B4B6BE; }

/* Templates */

#comet-mytemplates .comet-button {
  width: 30px;
  margin: 0 5px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

#comet-mytemplates #comet-newTemplate {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: white;
  line-height: 40px;
  font-size: 20px;
}

#comet-mytemplates .comet-button.comet-templateEdit { 
  padding: 5px 10px;
  font-size: 15px;
  color: white;
}

#comet-map-templates .comet-template {
  width: 100%;
	display: flex;
  align-items: center;
  border: 1px solid #DAE5EE;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  background: white;
  justify-content: space-between;
}

#comet-map-templates .comet-template:hover {
  box-shadow: 0 0 10px 0 #DAE5EE;
  -moz-box-shadow: 0 0 10px 0 #DAE5EE;
  -webkit-box-shadow: 0 0 10px 0 #DAE5EE;
  -o-box-shadow: 0 0 10px 0 #DAE5EE;
}

#comet-map-templates .comet-template .comet-title { color: #006AFE; }

#comet-map-templates .comet-template .comet-informations > p {
  font: 300 13px/1.2 sans-serif;
  color: #AAA;

}

#comet-map-templates .comet-template .comet-informations > p > span {
  margin: 0 5px;
  color: #404146;

}

#comet-map-templates .comet-template .comet-informations > p > span:first-child { margin-left: 0; }

#comet-map-templates > li .comet-action { text-align: left; }

#comet-importTemplateFile {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

.comet-newtemplatebox .comet-body > div {
  width: 100%;
  max-width: 300px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
}

.comet-newtemplatebox .comet-body > div > * { width: 100%; }

.comet-newtemplatebox .comet-body > div > .comet-input { width: calc( 100% - 65px ); }

.comet-newtemplatebox .comet-body > div > .comet-button {
  margin-left: 5px;
  width: 60px;
  height: 35px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.comet-previewbox .comet-body > div {
  position: relative;
  height: 100%;

}

.comet-previewbox .comet-body > div iframe {
  width: 100%;
  height: 100%;
  display: block;
  
}


/* Modal */

.comet-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba( 0, 0, 0, .5 );
  z-index: 99999;
  padding: 50px;
  font: 300 15px/20px sans-serif;
  color: #404146;
}

.comet-modal > .comet-inner {
  display: block;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.comet-modal .comet-inner > * {
  display: block;
  position: relative;
  border: 0;
  margin: 0;
}

.comet-modal .comet-inner > .comet-body {
  height: calc( 100% - 76px );
  overflow: auto;
}

.comet-modal .comet-inner > .comet-header {
  border-bottom: 1px solid #DAE5EE;
  overflow: visible;
  padding: 20px;
}

.comet-modal .comet-inner > .comet-header h4 {
	padding: 0;
	margin: 0;
	font: 300 20px/35px sans-serif;
	text-align: center;
  color: #404146;
}

.comet-modal .comet-inner > .comet-header > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.comet-modal > .comet-close {
  position: fixed;
  right: 5px;
  top: 5px;
  background: rgba( 0, 0, 0, .7 );
  padding: 0;
  font: 300 20px/35px sans-serif;
  color: white;
  border-radius: 5px;
  opacity: .7;
}

.comet-modal > .comet-close,
.comet-modal > .comet-close > span {
  height: 35px;
  width: 35px;
  line-height: 35px;
  display: block;
}

.comet-modal > .comet-close:hover,
.comet-modal > .comet-close:active { opacity: 1; }

/* New template */
#comet-exportTemplateDialogContent { position: relative; }

#comet-exportNewTemplateName { padding-right: 35px; }

#comet-saveNewTemplate,
#comet-exportNewTemplate {
	position: absolute;
	top: 5px;
	right: 5px;
	border: 0;
	border-radius: 5px;
	overflow: hidden;
  padding: 0;
  margin: 0;
  background: #006AFE;
  cursor: pointer;
}

#comet-saveNewTemplate:hover,
#comet-exportNewTemplate:hover { transform: scale( 1.05, 1.05 ); }

#comet-saveNewTemplate,
#comet-exportNewTemplate,
#comet-saveNewTemplate .cico,
#comet-exportNewTemplate .cico {
  color: white;
	width: 25px;
	height: 25px;
	line-height: 25px;
  font-size: 15px;
  display: block;
}

.comet-waitWhileIcon {
  animation: waitWhile 2s linear 0s infinite;
  color: white;
  text-align: center;
}

@keyframes waitWhile {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.comet-importTemplateItems {
  padding: 0;
  border: 0;
  margin: 10px 0 0;
  list-style: none;
  text-align: left;
}

.comet-importTemplateItems li {
  padding: 5px 0;
  border: 0;
  margin: 0;
  text-align: left;
}

.comet-importTemplateItems li .cico {
  color: #006AFE;
  margin: 5px;
}

#comet-previewTemplateDialogContent iframe {
  width: 100%;
  height: 100%;
}

#comet-previewTemplateDialogContent,
#comet-previewTemplateDialog .comet-dialogContent {
  height: 100%;
  overflow: hidden;
  padding: 0;
}

/* Settings */

#comet-settings .comet-setting {
  padding: 20px 0;
  border-bottom: 2px solid #DAE5EE;
}

#comet-settings .comet-settingBlock { vertical-align: top; }

.comet-settingBlock.last { padding-left: 20px; }

.comet-settingBlock.first label {
  font-weight: 500;
  padding-bottom: 10px;
}

.comet-settingBlock.last .comet-fieldCheckbox { padding: 5px 0; }

.comet-settingBlock.last label.comet-middleIb { margin-left: 5px; }

.comet-adminDashboard input,
.comet-adminDashboard .comet-field {
  display: inline-block;
  padding: 5px;
  margin: 0;
  border: 1px solid #DAE5EE;
  background: white;
  border-radius: 5px;
  font: 300 15px/35px sans-serif;
  box-shadow: none;
  box-sizing: border-box;
  color: #404146;
}

.comet-adminDashboard textarea,
.comet-adminDashboard input[type="text"],
.comet-adminDashboard input[type="select"] { width:  100%; }

.comet-adminDashboard input[type="text"],
.comet-adminDashboard input[type="select"],
.comet-adminDashboard input[type="number"] { height: 35px; }

.comet-adminDashboard textarea { height: 200px; }

.comet-adminDashboard input[type="number"] { width: 100px; }

.comet-adminDashboard input:hover,
.comet-adminDashboard .comet-field:hover { box-shadow: 0 0 5px 0 #DAE5EE; }

.comet-adminDashboard input:focus,
.comet-adminDashboard .comet-field:focus {
  border-color: #006AFE;
  box-shadow: none;
}

#comet-settings input[type="checkbox"] { display: none; }

.comet-fieldCheckbox label:before {
	content: '';
  display: inline-block;
  vertical-align: middle;
	background: #006AFE;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 10px solid #DAE5EE;
	transition: border .3s ease;
}

.comet-fieldCheckbox input:checked + label:before { border-width: 2px; }

#comet-settings > .comet-button { margin: 30px 0; }

/* Typographies */

.comet-fontsbox > .comet-inner > .comet-header .col3,
.comet-fontsbox > .comet-inner > .comet-header .col1 { width: 25%; }

.comet-fontsbox > .comet-inner > .comet-header .col2 { width: 50%; }

.comet-fontsbox > .comet-inner > .comet-header .col3 { text-align: right; }

.comet-fontsBasket { position: relative; }

.comet-fontsBasket > .comet-header {
  background: #404146;
  width: auto;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.comet-fontsBasket > .comet-header > .comet-count {  margin-right: 5px; }

.comet-fontsBasket .comet-fontsList {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}

.comet-fontsBasket > div {
  position: absolute;
  right: 99999em;
  top: 100%;
  background: white;
  width: 250px;
  height: 300px;
  z-index: 1;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 0 5px 0 #DAE5EE;

}

.comet-fontsBasket > div > * { padding: 10px; }

.comet-fontsBasket > div > div:nth-of-type(2) { border-top: 1px solid #EDF5FB; }

.comet-fontsBasket:hover > div { right: 0; }

.comet-fontsBasket .comet-fontsList {
  overflow-y: auto;
  height: 250px;
}

.comet-fontsBasket .comet-fontsList > * {
  width: auto;
  background: #EDF5FB;
  margin: 0 1% 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.comet-fontsBasket .comet-fontsList .comet-button {
  padding: 0;
  border: 2px solid red;
  margin-left: 5px;
  color: red;
  font-size: 15px;
  line-height: 20px;
  width: 20px;
  height: 20px;
}

.comet-fontsBasket .comet-fontsList .comet-button:hover {
  background: red;
  color: white;

}

.comet-fontsbox > .comet-inner > .comet-body > div {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.comet-fontsbox .comet-font.comet-item {
  width: 25%;
  padding: 30px;
}

.comet-fontsbox .comet-font.comet-item .comet-button { margin-left: 5px; }

.comet-fontsbox .comet-font.comet-item .comet-preview {
  border-top: 2px solid #EDF5FB;
  font-size: 35px;
  line-height: 1.1;
  padding-top: 10px;
  margin-top: 10px;
}


#comet-mapFonts li {
	margin: 20px 0;
	background: white;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #DAE5EE;
}

#comet-mapFonts li p {
  font-size: 30px;
  line-height: 1.5;
}

#comet-dashboard #comet-addFont {
  color: white;
  text-decoration: none;
}

#comet-addFontsFromCollection .cico {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

/* Dashboard */

#comet-mapDashboard .comet-column { vertical-align: top; }

#comet-mapDashboard > .comet-row > .comet-column:first-child {
  padding-right: 20px;
}

.comet-dashboardWidget {
  display: block;
  margin-bottom: 20px;
}

#comet-dashboardFeedback {
	padding: 20px;
	background: #404146;
	color: white;
}

#comet-dashboardFeedback aside,
#comet-dashboardFeedback figure {
	display: inline-block;
	vertical-align: middle;
}

#comet-dashboardFeedback figure {
	width: 100px;
	height: 100px;
}

#comet-dashboardFeedback aside {
	width: calc( 100% - 120px );
	margin-left: 20px;
}

#comet-dashboardFeedback aside * { color: white; }

#comet-dashboardFeedback .comet-button {
  background: white;
  margin-top: 20px;
  color: #404146;
}

#comet-dashboardLearn li {
	background: white;
  margin: 0 0 10px;
  border: 1px solid white;
}

#comet-dashboardLearn li:hover,
#comet-dashboardLearn li:active {
  box-shadow: 0 0 5px 0 #DAE5EE;
  border-color: #DAE5EE;
}

#comet-dashboardLearn li a {
	display: block;
	text-decoration: none;
	padding: 10px;
}

#comet-dashboardReadDoc {
  background: url('../img/comet-dashboard-img1.jpeg') repeat center center;
  background-size: cover;
}

#comet-dashboardReadDoc a {
  padding: 100px 20px;
  background: rgba( 0, 106, 254, .8);
	display: block;
	font-size: 30px;
	font-weight: 300;
  text-decoration: none;
  color: white;
}

#comet-dashboardReadDoc a:hover,
#comet-dashboardReadDoc a:active {
	background: rgba( 0,106,254, .4 );
	transition: background-color ease-in-out .5s;
}

.comet-dashboardSlideCount > span {
	background: rgba( 255, 255, 255, .5 );
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	font: 500 13px/14px sans-serif;
}

.comet-dashboardSlide {
  padding: 40px;
  background: #006AFE;
  background: linear-gradient(225deg, #52CEFF 0%, #006AFE 74%);
  background: -moz-linear-gradient(225deg, #52CEFF 0%, #006AFE 74%);
  background: -webkit-linear-gradient(225deg, #52CEFF 0%, #006AFE 74%);
  display: none;
}

.comet-dashboardSlide:first-child{ display: block; }

.comet-dashboardSlide > * {
  margin: 0 0 120px;
  color: white;
}

.comet-dashboardSlide > *:last-child { margin: 0; }


.comet-dashboardSlide > h4 { margin-bottom: 10px; }

.comet-dashboardSlide.comet-dashboardSlideStart h4 {
  font-size: 30px;
  margin-bottom: 120px;
}

.comet-dashboardSlide .comet-button {
  color: white;
  padding: 0;
  margin-right: 10px;
}

.comet-dashboardSlide .comet-button.comet-next {
  color: #006AFE;
  background: white;
  padding: 0 20px;
  margin: 0;
}

/* Responsive */

@media screen and ( max-width: 860px ) {

  #comet-addFontDialogContent .comet-listFont { width: 48%; }
}

@media screen and ( max-width: 700px ) {
  #comet-dashboard #comet-dashboardFeedback > * {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0;
  }
}

@media screen and ( max-width: 500px ) {
  #comet-dashboard #comet-mapDashboard .comet-column{
    width: 100%;
    display: block;
    padding: 0;
  }

  #comet-settings .comet-column {
    display: block;
    width: auto;
    padding:0;
  }

  #comet-settings .comet-column.last { padding-top: 10px }

  #comet-map-templates > li .comet-templateAction {
    position: relative;
    margin: 10px 0 0;
    right: auto;
    top: auto;
  }

  #comet-addFontDialogContent .comet-listFont {
    width: 100%;
    display: block;
    margin: 0 0 20px; 
  }
}